body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
    .menuitem {
    background-color: #555;
    
    }
    .menuitem a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 10px;
        }
        .menulist {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            background-color: #EEE;
            overflow: hidden;
        }
  
  .dados {
    margin: 0 auto;
    width: 400px;
    height: 200px;
  }
  
  .img {
    width: 150px;
    height: 150px;
    display:inline-flex;
    margin: 90px;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    
  }

  .img1 {
    width: 150px;
    height: 150px;
    display:inline-flex;
    margin:80px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  button {
    margin: auto;
    width: 100px;
    height: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
