



    #div1 {
    width: 700px;
    padding: 0px;
    background-color: red;
    text-align: center;

    }
    
    #div2 {
        width: 700px;
        padding: px;
        background-color: green;
        text-align: center;
        }