body {
    background:  url("https://wallpapercrafter.com/th800/94158-darth-vader-star-wars-artist-artwork-digital-art-hd-4k-artstation.jpg") ;
    background-size:auto;
}
    
    h1{
        border-color:  green;
        border-width: 2px;
        border-style: solid;
        background-color: red;

    }